<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oauth.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>92E43CE32C05CB2CDD3B85C07B59E2BDA77FCE89</string>
				<key>dateExpires</key>
				<string>10/06/2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>92E43CE32C05CB2CDD3B85C07B59E2BDA77FCE89</string>
						<key>dateExpires</key>
						<string>10/06/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FontAwesome_swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWKSN9MB55</string>
						<key>name</key>
						<string>Joe Williams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>92E43CE32C05CB2CDD3B85C07B59E2BDA77FCE89</string>
						<key>dateExpires</key>
						<string>10/06/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWKSN9MB55</string>
						<key>name</key>
						<string>Joe Williams</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>92E43CE32C05CB2CDD3B85C07B59E2BDA77FCE89</string>
						<key>dateExpires</key>
						<string>10/06/2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Nuke.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWKSN9MB55</string>
						<key>name</key>
						<string>Joe Williams</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HWKSN9MB55.com.joewilliams.watchitwith</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HWKSN9MB55</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>HWKSN9MB55.com.joewilliams.watchitwith</string>
				</array>
			</dict>
			<key>name</key>
			<string>WatchItWith.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>82ae2043-a6a5-493a-8ba9-27f4eeeb66a7</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HWKSN9MB55</string>
				<key>name</key>
				<string>Joe Williams</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
